<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ww.dao.LoginlogMapper">
  <resultMap id="LoginlogMap" type="model.Loginlog">
    <id property="id" column="id"/>
    <result property="userId" column="userId"/>
    <result property="loginTime" column="loginTime"/>
    <result property="ip" column="ip"/>
    <result property="location" column="location"/>
    <result property="status" column="status"/>
  </resultMap>
  <select id="getById" parameterType="java.lang.Integer" resultType="model.Loginlog" resultMap="LoginlogMap">select m.* from t_loginlog m where m.id=#{value}</select>
  <select id="getByUserId" parameterType="java.lang.Integer" resultType="model.Loginlog" resultMap="LoginlogMap">select m.* from t_loginlog m where m.userId=#{value}</select>
  <select id="getByLoginTime" parameterType="java.util.Date" resultType="model.Loginlog" resultMap="LoginlogMap">select m.* from t_loginlog m where m.loginTime=#{value}</select>
  <select id="getByIp" parameterType="java.lang.String" resultType="model.Loginlog" resultMap="LoginlogMap">select m.* from t_loginlog m where m.ip=#{value}</select>
  <select id="getByLocation" parameterType="java.lang.String" resultType="model.Loginlog" resultMap="LoginlogMap">select m.* from t_loginlog m where m.location=#{value}</select>
  <select id="getByStatus" parameterType="java.lang.String" resultType="model.Loginlog" resultMap="LoginlogMap">select m.* from t_loginlog m where m.status=#{value}</select>
  <select id="getAll" resultType="model.Loginlog" resultMap="LoginlogMap">select m.* from t_loginlog m</select>
  <select id="getList" parameterType="String" resultType="model.Loginlog" resultMap="LoginlogMap">select m.* from t_loginlog m ${value}</select>
  <select id="getList2" resultType="model.Loginlog" resultMap="LoginlogMap">select m.* from t_loginlog m where ${param1} order by ${param2} limit ${param3},${param4}</select>
  <select id="selectSql" parameterType="String" resultType="ww.common.SqlMap">${value}</select>
  <select id="getCount" parameterType="String" resultType="int">select count(*) from t_loginlog m ${value}</select>
  <insert id="insert" parameterType="model.Loginlog" keyProperty="id" useGeneratedKeys="true">insert into t_loginlog(userId,loginTime,ip,location,status) values(#{userId},#{loginTime},#{ip},#{location},#{status})</insert>
  <update id="update" parameterType="model.Loginlog" keyProperty="id" useGeneratedKeys="true">update t_loginlog set userId=#{userId},loginTime=#{loginTime},ip=#{ip},location=#{location},status=#{status} where id=#{id}</update>
  <delete id="delete" parameterType="java.lang.Integer">delete from t_loginlog where id=#{value}</delete>
  <delete id="deleteWhere" parameterType="String">delete from t_loginlog ${value}</delete>
</mapper>
