<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ww.dao.Tx_voutMapper">
  <resultMap id="Tx_voutMap" type="model.Tx_vout">
    <id property="id" column="id"/>
    <result property="parentid" column="parentid"/>
    <result property="userId" column="userId"/>
    <result property="rootAddress" column="rootAddress"/>
    <result property="assetid" column="assetid"/>
    <result property="value" column="value"/>
    <result property="vout_n" column="vout_n"/>
    <result property="type" column="type"/>
    <result property="address" column="address"/>
  </resultMap>
  <select id="getById" parameterType="java.lang.Long" resultType="model.Tx_vout" resultMap="Tx_voutMap">select m.* from t_tx_vout m where m.id=#{value}</select>
  <select id="getByParentid" parameterType="java.lang.Long" resultType="model.Tx_vout" resultMap="Tx_voutMap">select m.* from t_tx_vout m where m.parentid=#{value}</select>
  <select id="getByUserId" parameterType="java.lang.Long" resultType="model.Tx_vout" resultMap="Tx_voutMap">select m.* from t_tx_vout m where m.userId=#{value}</select>
  <select id="getByRootAddress" parameterType="java.lang.String" resultType="model.Tx_vout" resultMap="Tx_voutMap">select m.* from t_tx_vout m where m.rootAddress=#{value}</select>
  <select id="getByAssetid" parameterType="java.lang.Integer" resultType="model.Tx_vout" resultMap="Tx_voutMap">select m.* from t_tx_vout m where m.assetid=#{value}</select>
  <select id="getByValue" parameterType="java.lang.Double" resultType="model.Tx_vout" resultMap="Tx_voutMap">select m.* from t_tx_vout m where m.value=#{value}</select>
  <select id="getByVout_n" parameterType="java.lang.Long" resultType="model.Tx_vout" resultMap="Tx_voutMap">select m.* from t_tx_vout m where m.vout_n=#{value}</select>
  <select id="getByType" parameterType="java.lang.String" resultType="model.Tx_vout" resultMap="Tx_voutMap">select m.* from t_tx_vout m where m.type=#{value}</select>
  <select id="getByAddress" parameterType="java.lang.String" resultType="model.Tx_vout" resultMap="Tx_voutMap">select m.* from t_tx_vout m where m.address=#{value}</select>
  <select id="getAll" resultType="model.Tx_vout" resultMap="Tx_voutMap">select m.* from t_tx_vout m</select>
  <select id="getList" parameterType="String" resultType="model.Tx_vout" resultMap="Tx_voutMap">select m.* from t_tx_vout m ${value}</select>
  <select id="getList2" resultType="model.Tx_vout" resultMap="Tx_voutMap">select m.* from t_tx_vout m where ${param1} order by ${param2} limit ${param3},${param4}</select>
  <select id="selectSql" parameterType="String" resultType="ww.common.SqlMap">${value}</select>
  <select id="getCount" parameterType="String" resultType="int">select count(*) from t_tx_vout m ${value}</select>
  <insert id="insert" parameterType="model.Tx_vout" keyProperty="id" useGeneratedKeys="true">insert into t_tx_vout(parentid,userId,rootAddress,assetid,value,vout_n,type,address) values(#{parentid},#{userId},#{rootAddress},#{assetid},#{value},#{vout_n},#{type},#{address})</insert>
  <update id="update" parameterType="model.Tx_vout" keyProperty="id" useGeneratedKeys="true">update t_tx_vout set parentid=#{parentid},userId=#{userId},rootAddress=#{rootAddress},assetid=#{assetid},value=#{value},vout_n=#{vout_n},type=#{type},address=#{address} where id=#{id}</update>
  <delete id="delete" parameterType="java.lang.Long">delete from t_tx_vout where id=#{value}</delete>
  <delete id="deleteWhere" parameterType="String">delete from t_tx_vout ${value}</delete>
</mapper>
