<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ww.dao.UserGroupMapper">
  <resultMap id="UserGroupMap" type="model.UserGroup">
    <id property="id" column="id"/>
    <result property="userId" column="userId"/>
    <result property="groupId" column="groupId"/>
    <result property="type" column="type"/>
    <association property="user" column="userId" javaType="model.User" select="ww.dao.UserMapper.getById"/>
    <collection property="group" column="groupId" ofType="model.Group" select="ww.dao.GroupMapper.getById"/>
  </resultMap>
  <select id="getById" parameterType="java.lang.Integer" resultType="model.UserGroup" resultMap="UserGroupMap">select m.* from t_user_group m where m.id=#{value}</select>
  <select id="getByUserId" parameterType="java.lang.Integer" resultType="model.UserGroup" resultMap="UserGroupMap">select m.* from t_user_group m where m.userId=#{value}</select>
  <select id="getByGroupId" parameterType="java.lang.Integer" resultType="model.UserGroup" resultMap="UserGroupMap">select m.* from t_user_group m where m.groupId=#{value}</select>
  <select id="getByType" parameterType="java.lang.String" resultType="model.UserGroup" resultMap="UserGroupMap">select m.* from t_user_group m where m.type=#{value}</select>
  <select id="getAll" resultType="model.UserGroup" resultMap="UserGroupMap">select m.* from t_user_group m</select>
  <select id="getList" parameterType="String" resultType="model.UserGroup" resultMap="UserGroupMap">select m.* from t_user_group m ${value}</select>
  <select id="getList2" resultType="model.UserGroup" resultMap="UserGroupMap">select m.* from t_user_group m where ${param1} order by ${param2} limit ${param3},${param4}</select>
  <select id="getList3" resultType="model.UserGroup" resultMap="UserGroupMap">select m.* from t_user_group m where ${param1} limit ${param2},${param3}</select>
  <select id="getList4" resultType="model.UserGroup" resultMap="UserGroupMap">select m.* from t_user_group m order by ${param1} limit ${param2},${param3}</select>
  <select id="selectSql" parameterType="String" resultType="ww.common.SqlMap">${value}</select>
  <select id="getCount" parameterType="String" resultType="int">select count(*) from t_user_group m ${value}</select>
  <insert id="insert" parameterType="model.UserGroup" keyProperty="id" useGeneratedKeys="true">insert into t_user_group(userId,groupId,type) values(#{userId},#{groupId},#{type})</insert>
  <update id="update" parameterType="model.UserGroup" keyProperty="id" useGeneratedKeys="true">update t_user_group set userId=#{userId},groupId=#{groupId},type=#{type} where id=#{id}</update>
  <delete id="delete" parameterType="java.lang.Integer">delete from t_user_group where id=#{value}</delete>
  <delete id="deleteWhere" parameterType="String">delete from t_user_group ${value}</delete>
</mapper>
